@model IEnumerable<SACLA_9205.Models.Paper>

@{
    ViewBag.Title = "Index";
}

<h2>Submitted Papers</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaperID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaperID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
        </tr>
    }

</table>
