@model IEnumerable<SACLA_9205.Models.Paper>
@{
    ViewBag.Title = "MyPapers";
}

<h2>My Papers</h2>

<p>
    @Html.ActionLink("Submit New Paper", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaperID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaperID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSubmitted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PaperID }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PaperID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

